<section data-ng-controller="TodosController" data-nginit="findOne()">
	<h1>Edit Todo</h1>
	<form data-ng-submit="update()" novalidate>
		<div>
			<label for="title">Title</label>
			<div>
				<input type="text" data-ng-model="todo.title" id="title"
				placeholder="Title" required>
			</div>
		</div>
		<div>
			<label for="comment">Comment</label>
			<div>
				<textarea data-ng-model="todo.comment" id="comment"
				cols="30" rows="10" placeholder="Comment"></textarea>
			</div>
		</div>
		<div>
			<input type="submit" value="Update">
		</div>
		<div data-ng-show="error">
			<strong data-ng-bind="error"></strong>
		</div>
	</form>
</section>