<!--<section data-ng-controller="TodosController" data-ng-init="findOne()">
	<h1 data-ng-bind="todo.title"></h1>
	<div data-ng-show="authentication.user._id == todo.creator._id">
		<a href="/#!/todos/{{todo._id}}/edit">edit</a>
		<a href="#" data-ng-click="delete();">delete</a>
	</div>
	<small>
	<em>Posted on</em>
	<em data-ng-bind="todo.created | date:'mediumDate'"></em>
	<em>by</em>
	<em data-ng-bind="todo.creator.name"></em>
	</small>
	<p data-ng-bind="todo.comment"></p>
</section>-->

<div data-ng-controller="TodosController">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">MEAN TODO</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>

					<li class="page-scroll" data-ng-show="!authentication.user">
                        <a href="/login">Login</a>
                    </li>
                    <li class="page-scroll" data-ng-show="!authentication.user">
                        <a href="/register">Register</a>
                    </li>
                    
                    <!--<li class="page-scroll">
                        <a href="https://github.com/Hitman666/MEAN_MVC_4thTutorial">Fork on Github</a>
                    </li>-->

                    <li class="page-scroll" data-ng-show="authentication.user">
                        <a href="/#!/todos/create">CREATE</a>
                    </li>
                    <li class="page-scroll" data-ng-show="authentication.user">
                        <a href="/#!/todos">TODOs</a>
                    </li>
                    <li class="page-scroll" data-ng-show="authentication.user">
                        <a href="/logout">Hello <span data-ng-bind="authentication.user.name" data-ng-show="authentication.user"></span>, Logout?</a>
                    </li>                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

	<section data-ng-init="findOne()" class="container">
		<h1 data-ng-bind="todo.title" ng-class="todo.completed?'completed':''"></h1>
		<div data-ng-show="authentication.user._id == todo.creator._id">
			<a href="/#!/todos/{{todo._id}}/edit">edit</a>
			<a href="#" data-ng-click="delete();">delete</a>
		</div>
		<small>
		<em data-ng-bind="todo.created | date:'mediumDate'"></em>
		</small>
		<p data-ng-bind="todo.comment"></p>
	</section>
</div>

<!--<section id="todoapp">
	<header id="header">
		<h1>todos</h1>
		<form id="todo-form" ng-submit="addTodo()">
			<input id="new-todo" placeholder="What needs to be done?" ng-model="newTodo" ng-disabled="saving" autofocus>
		</form>
	</header>
	<section id="main" ng-show="todos.length" ng-cloak>
		<input id="toggle-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)">
		<label for="toggle-all">Mark all as complete</label>
		<ul id="todo-list">
			<li ng-repeat="todo in todos | filter:statusFilter track by $index" ng-class="{completed: todo.completed, editing: todo == editedTodo}">
				<div class="view">
					<input class="toggle" type="checkbox" ng-model="todo.completed" ng-change="toggleCompleted(todo)">
					<label ng-dblclick="editTodo(todo)">{{todo.title}}</label>
					<button class="destroy" ng-click="removeTodo(todo)"></button>
				</div>
				<form ng-submit="saveEdits(todo, 'submit')">
					<input class="edit" ng-trim="false" ng-model="todo.title" todo-escape="revertEdits(todo)" ng-blur="saveEdits(todo, 'blur')" todo-focus="todo == editedTodo">
				</form>
			</li>
		</ul>
	</section>
	<footer id="footer" ng-show="todos.length" ng-cloak>
		<span id="todo-count"><strong>{{remainingCount}}</strong>
			<ng-pluralize count="remainingCount" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
		</span>
		<ul id="filters">
			<li>
				<a ng-class="{selected: status == ''} " href="#/">All</a>
			</li>
			<li>
				<a ng-class="{selected: status == 'active'}" href="#/active">Active</a>
			</li>
			<li>
				<a ng-class="{selected: status == 'completed'}" href="#/completed">Completed</a>
			</li>
		</ul>
		<button id="clear-completed" ng-click="clearCompletedTodos()" ng-show="completedCount">Clear completed</button>
	</footer>
</section>-->