<div ng-controller="ExampleController">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#!/">MEAN TODO</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="page-scroll" data-ng-show="!authentication.user">
                        <a href="/login">Login</a>
                    </li>
                    <li class="page-scroll" data-ng-show="!authentication.user">
                        <a href="/register">Register</a>
                    </li>
                    
                    <li class="page-scroll">
                        <a href="https://github.com/Hitman666/MEAN_MVC_4thTutorial">Fork on Github</a>
                    </li>

                    <li class="page-scroll" data-ng-show="authentication.user">
                        <a href="/logout">Hello <span data-ng-bind="authentication.user.name" data-ng-show="authentication.user"></span>, Logout?</a>
                    </li>                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header data-ng-show="!authentication.user">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.png" alt="">
                    <div class="intro-text">
                        <span class="name">MEAN TODO</span>
                        <hr class="star-light">
                        <span class="skills">Mongo Express Node Angular powered TODO list</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="success" id="about" data-ng-show="authentication.user">
        <div class="container">
	    	<ul>
				<h1>
					<li><a href="/#!/todos">List Todos</a></li>
				</h1>
				
				<h1>
					<li><a href="/#!/todos/create">Create Todo</a></li>
				</h1>
			</ul>        
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section data-ng-show="!authentication.user">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>How it looks</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <img src="img/portfolio/create.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-sm-4 portfolio-item">
                    <img src="img/portfolio/list.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-sm-4 portfolio-item">
                    <img src="img/portfolio/edit.jpg" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about" data-ng-show="!authentication.user">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>What it is?</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <p class="text-center">MEAN TODO is an application for managing your TODOs built on top of the awesome MEAN stack. The acompanying 4 part series blog posts on how to make this application can be found <a href="#">here</a>.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/Hitman666/MEAN_MVC_4thTutorial" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Fork it on Github
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>