<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Nikola Brežnjak">

    <title>MEAN TODO</title>

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/mean.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
</head>
<body ng-app="mean">
	<section ng-view class="main-section"></section>

	<script type="text/javascript">
		window.user = <%- user || 'null' %>;
	</script>
	
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/mean.js"></script>

	<script type="text/javascript" src="/js/angular/angular.js"></script>
	<script type="text/javascript" src="/js/angular-route/angular-route.min.js"></script>
	<script type="text/javascript" src="/js/angular-resource/angular-resource.min.js"></script>

	<script type="text/javascript" src="/todos/todos.client.module.js"></script>
	<script type="text/javascript" src="/todos/controllers/todos.client.controller.js"></script>
	<script type="text/javascript" src="/todos/services/todos.client.service.js"></script>
	<script type="text/javascript" src="/todos/config/todos.client.routes.js"></script>
	
	<script type="text/javascript" src="/useri/users.client.module.js"></script>
	<script type="text/javascript" src="/useri/services/authentication.client.service.js"></script>

	<script type="text/javascript" src="/example/example.client.module.js"></script>
	<script type="text/javascript" src="/example/controllers/example.client.controller.js"></script>
	<script type="text/javascript" src="/example/config/example.client.routes.js"></script>

	<script type="text/javascript" src="/application.js"></script>
</body>
</html>